@import 'tailwindcss';

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@layer theme {
  :root {
    --color-primary: #003399;
    --color-accent: #ff4785;
    --color-sky: #00dbff;
    --color-light: #f8fafc;
    --color-dark: #1e293b;
    --color-white: #ffffff;
  }
}
